body .maindiv {
    background-image: radial-gradient(antiquewhite, #83c5be);
}

.info {
    display: inline-block;
    position: absolute;
    width: 250px;
    padding: 15px;
    background-color: #6d779671;
    border: 2px solid #6d779671;
    border-radius: 2%;
    /* padding-right: 90%; */
}

.info p {
    padding: 3%;
}

.pp {
    margin: 10px auto;
    padding: 20px;
    background-color: #6d779671;
    border: .5px solid rgb(66, 73, 55);
    border-radius: 3%;
    /* justify-content: center; */
}

.posts {
    display: inline-block;
    margin: 1px 10% 1px 35%;
    border-radius: 1%;
}